@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

h2{
display: block;
font-size: 1.5em;
margin-top: 0.83em;
margin-bottom: 0.83em;
margin-left: 0px;
font-weight: bold;
}

p{
    line-height: 1.5;
    font-size: 18px;
}

.purple{
   color: #6415ff;
}

button{
    cursor: pointer;
}

/* LANDING */

#landing {
  padding: 0 32px;
}

nav {
  display: flex;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  margin-left: 16px;
  position: relative;
  transition: all 300ms;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  opacity: 0;
  transition: opacity 300ms ease;
}

.nav__link:hover::after{
    opacity: 1;
}

.nav__link--primary {
  margin-left: 16px;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: #fff;
  background-color: #6415ff;
  line-height: 1.5;
  border: none;
  transition: all 300ms ease;
}

.nav__link--primary::after {
  content: "";
  display: none;
}

.nav__link--primary:hover{
    background-color: #491ca3;
}

.login{
    margin-left: 48px;
}

.container{
    padding: 60px 0;
}

header .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description{
    width: 40%;
    
}

h1{
    font-size: 48px;
    color: #1a202c;
    line-height: 1.25;
    display: block;
}

.header__img--wrapper{
    width: calc(60%);
}

figure {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}

.header__img{
    width: 100%;
    max-width: 768px;
    
}

img {
    width: 100%;
}

.header__description--para{
    font-size: 18px;
    margin: 32px 0;
}

.header__email{
    display: flex;
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    justify-content: flex-end;
    align-items: center;

}

.header__email--input{
    width: 100%;
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36,62,99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

input::placeholder {
  color: darkgray;
  opacity: 1; 
}

.header__email--btn{
    z-index: 2;
    margin: 8px; 
    height: calc(100%-16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700px;
    padding: 15px 20px;
    font-size: 16px;
    transition: all 300ms ease;
}

.header__email--btn:hover{
    background-color: #491ca3;
}

.header__customer--title{
    margin-top: 65px;
    font-size: 12px;
    color: #a0aec0;
    font-weight: 700;
    letter-spacing: 0.6;
}

.header__customers{
    margin-top: 16px;
    opacity: 0.5;
    padding-right: 60px;
}

/* FEATURES */

#feature{
    position: relative;
}

#features .row__narrow{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row__narrow{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section__tag{
    color:rgb(100, 21, 255);
    font-size: 16px;
    font-weight:700;
    letter-spacing: 1.6px;
    text-transform: uppercase;
}

.section__title{
    font-size: 48px;
    font-weight: 900;
    color: rgb(36,62,99);
    line-height: 1.5;
    margin: 16px 0;
    letter-spacing: 0.025em;
}

#features .section__title, #pricing .section__title{
    text-align: center;
}

#features .section__para{
    text-align: center;
    max-width: 576px;
}

.section__para{
    font-size: 18px;
    font-weight: 500;
    color: #7c8ba1;
    line-height: 1.625;
}

.features{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;

}

.feature{
    width: calc(100%/3);
}

.feature__row{
    display: flex;
    padding: 32px 24px;
    align-items: flex-start;
    
}

.feature__img--wrapper{
    display: flex;
    padding: 20px;
    border: 1px solid #e5e7eb;
    border-radius: 500px;
}

.feature__img{
    width: 24px;
    height: 24px;
}

.feature__text{
    margin-top: 8px;
    margin-left: 16px;
}

.feature__para{
    margin-top: 16px;
  line-height: 2;
  font-size: 16px;  
  color: rgb(124, 139, 161);
  font-weight: 500;
  max-width: 240px;
  
}

/* QUALITY */

#quality .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quality__description, .quality__img--wrapper{
    width: 50%;
}

.quality__description{
    margin-right: 64px;
    max-width: 480px;
}

#quality .section__title, #values .section__title{
    line-height: 1.25;
}

.quality__img--wrapper{
    position: relative;

}

.quality__grid{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80px;
    height: 80px;
    background-image: radial-gradient(circle, rgb(100, 21, 255)2px, transparent 2px);
    background-size: 9px 9px;
    pointer-events: none;
    z-index:3;
}

#quality .btn{
    margin-top: 32px;
}

.btn{
    padding: 12px 32px;
    background-color: #6415ff;
    border-radius: 500px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
    transition: all 300ms ease;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-color: #491ca3;
}

.quality__img--wrapper{
    margin: 0 88px;
    border-radius: 4px;
    border: 1px solid rgb(229, 231, 235);
    position: relative;
    z-index: 2;
    display: flex;
}

.quality__img{
    z-index: 1;
    
}

/* STEPS */

#steps .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.steps__description, .steps__img--wrapper{
    width: 50%;
}

.steps__img--wrapper{
    display: flex;
    position: relative;
    overflow: hidden;
}

.steps__img{
    margin: 0 36px;
    position: relative;
}

.steps__description{
    padding: 32px 0;
    padding-left: 64px;
}

.step{
    display: flex;
    flex-direction: flex-start;
    margin-top: 32px;
}

.step__number{
    font-size: 36px;
    font-weight: 600;
    color:#cbd5e0;
    line-height: 1;
}

.step__description{
    display: flex;
    flex-direction: column;
    margin-left: 24px;
    max-width: 320px;
}

.step__title{
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
    color: #243e63;
}

.step__para{
    margin-top: 12px;
    font-weight: 500;
    color:#718096;
    line-height: 2;
    font-size: 14px;
}

/* VALUES */

.values__description, .values__img{
    width: 50%;
}

.values__description{
    padding: 36px 64px 36px 0;
   
}


