@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: #243e63;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

p{
    line-height: 1.5;
    font-size: 18px;
}

.purple{
   color: #6415ff;
}

button{
    cursor: pointer;
}

/* LANDING */

#landing {
  padding: 0 32px;
}

nav {
  display: flex;
}

.row {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.nav__row {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
  align-items: center;
  margin: 8px 0;
  padding-bottom: 4px;
}

.nav__logo--title {
  font-size: 24px;
  font-weight: 900;
  margin-left: 12px;
  padding-bottom: 2px;
  letter-spacing: 0.6px;
}

.nav__logo--img {
  height: 40px;
  width: 40px;
}

.nav__links {
  display: flex;
  align-items: center;
  padding-bottom: 2px;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  padding-top: 4px;
  letter-spacing: 0.35px;
  margin-left: 16px;
  position: relative;
  transition: all 300ms;
}

.nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  width: 100%;
  background: #6415ff;
  opacity: 0;
  transition: opacity 300ms ease;
}

.nav__link:hover::after{
    opacity: 1;
}

.nav__link--primary {
  margin-left: 16px;
  padding: 10px 32px;
  margin-top: 2px;
  border-radius: 9999px;
  color: #fff;
  background-color: #6415ff;
  line-height: 1.5;
  border: none;
  transition: all 300ms ease;
}

.nav__link--primary::after {
  content: "";
  display: none;
}

.nav__link--primary:hover{
    background-color: #491ca3;
}

.login{
    margin-left: 48px;
}

.container{
    padding: 96px 0;
    
}

header .row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__description{
    width: 40%;
    
}

h1{
    font-size: 48px;
    color: #1a202c
    line-height: 1.25;
    display: block;
}

.header__img--wrapper{
    width: 60%;
}

.header__description--para{
    font-size: 18px;
    margin: 32px 0;
}

.header__email{
    display: flex;
    width: 100%;
    max-width: 448px;
    height: 68px;
    position: relative;
    justify-content: flex-end;
    align-items: center;

}

.header__email--input{
    width: 100%;
    border-radius: 500px;
    border: 20px solid rgb(229, 231, 235);
    padding: 20px 192px 20px 32px;
    color: rgb(36,62,99);
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color 300ms;
}

input::placeholder{
white-space-collapse: preserve;
text-wrap-mode: nowrap;
overflow-wrap: normal;
overflow-x: hidden;
overflow-y: hidden;
line-height: initial;
}

::placeholder {
-webkit-text-security: none;
color: darkgray;
direction: inherit;
pointer-events: none;
text-orientation: inherit;
writing-mode: inherit;
position: static;
}

.header__email--btn{
    z-index: 2;
    margin: 8px; 
    height: calc(100%-16px);
    border-radius: 500px;
    width: 160px;
    border: none;
    background-color: #6415ff;
    color: #fff;
    font-weight: 700px;
    font-size: 16px;
    transition: all 300ms ease;
}
